.btn {
  background-color: #e67e22;
  border-radius: 10px;
}

.page_1_container,
.page_4_container {
  min-height: 100vh;
  background-color: #fdf2e9;
}
.container-fluid {
  padding: 0;
  margin: 0;
}
.meal-card {
  background-color: #fff;
  transition: 0.5s;
}
strong {
  color: #e67e22;
}
a {
  text-decoration: none;
  color: black !important; 
}
.meal-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.meal-card img {
  height: 200px;
} 
