@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
*{
    text-transform: capitalize;
 
}
.container-fluid{
    margin: 0px !important;
    padding: 0px !important;
}
@keyframes image_move {
  0%   { transform: translateY(5px); }
  50%  { transform: translateY(20px); }
  100% { transform: translateY(5px); }
}

.nav-item:hover {
    border-bottom: 2px solid #DC3545 !important;

  }
.header_img_div{
  position: relative;
  animation-name: image_move;
 animation-timing-function: ease-in-out;
  animation-duration:5s;
  animation-iteration-count: infinite;
}
.fixed_image{
     background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)),
    url(../img/stats-bg.jpg);
    
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
}

 .nav-tabs {
    border-bottom: none !important;
  }

  .nav-tabs .nav-link {
    border: none !important;
    background-color: transparent !important;
    color: black !important;
    border-bottom: 2px solid transparent !important;
    border-radius: 0 !important;
  }

  .nav-tabs .nav-link.active {
    border-bottom: 3px solid #DC3545 !important;

  }
  .chef:hover{
    scale: 1.05;
    transition: .5s;

  }
